Repository Brain-up/brn, pull requests merged in 2021-05, with the labels that each got.

#1904 Epmlabsbrn 1901 admin panel statistics
  frontend-angular/package-lock.json
  frontend-angular/package.json
  frontend-angular/src/app/app.component.ts
  frontend-angular/src/app/modules/admin/admin-page-routing.module.ts
  frontend-angular/src/app/modules/admin/admin-page.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/level-color.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/month-time-track-item-data.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/week-char-data-item.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics-routing.module.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.module.ts
  frontend-angular/src/app/modules/shared/services/svg-icons-registrar.service.ts
  frontend-angular/src/app/styles/colors.scss
  frontend-angular/src/app/styles/material-override.scss
  frontend-angular/src/assets/.gitkeep
  frontend-angular/src/assets/icons/help.svg
  frontend-angular/src/assets/icons/left-arrow.svg
  frontend-angular/src/assets/icons/right-arrow.svg
  frontend-angular/src/assets/statistics-info-dialog.svg
  frontend-angular/src/styles.scss
Labels: javascript

#1912 EPMLABSBRN-1911- fixed path to static resources
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.html
  frontend-angular/src/app/modules/shared/services/svg-icons-registrar.service.ts
Labels: bug, javascript

#1937 EPMLABSBRN-1931 - migrated all components to onPush strategy
  frontend-angular/angular.json
  frontend-angular/src/app/modules/admin/components/home/home.component.html
  frontend-angular/src/app/modules/admin/components/home/home.component.spec.ts
  frontend-angular/src/app/modules/admin/components/home/home.component.ts
  frontend-angular/src/app/modules/auth/components/login/login.component.ts
  frontend-angular/src/app/modules/auth/ngrx/effects.ts
  frontend-angular/src/app/modules/shared/components/upload-file/upload-file.component.ts
  frontend-angular/src/app/modules/shared/constants/time-constants.ts
Labels: admin panel, javascript

#1967 Epmlabsbrn 1930 add internationalization
  frontend-angular/angular.json
  frontend-angular/package-lock.json
  frontend-angular/package.json
  frontend-angular/src/app/app.module.ts
  frontend-angular/src/app/modules/admin/admin.component.html
  frontend-angular/src/app/modules/admin/admin.component.ts
  frontend-angular/src/app/modules/admin/admin.module.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-file/load-file.module.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-files/load-files-routing.module.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-files/load-files.component.html
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-files/load-files.component.scss
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-files/load-files.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-files/load-files.component.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-files/load-files.module.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-tasks/load-tasks.component.html
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-tasks/load-tasks.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-tasks/load-tasks.component.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/modules/load-tasks/load-tasks.module.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/upload-file-routing.module.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/upload-file.component.html
  frontend-angular/src/app/modules/admin/modules/upload-file/upload-file.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/upload-file/upload-file.module.ts
  frontend-angular/src/app/modules/auth/auth.component.html
  frontend-angular/src/app/modules/auth/auth.component.spec.ts
  frontend-angular/src/app/modules/auth/auth.module.ts
  frontend-angular/src/app/modules/auth/modules/login/login.component.html
  frontend-angular/src/app/modules/auth/modules/login/login.component.scss
  frontend-angular/src/app/modules/auth/modules/login/login.component.spec.ts
  frontend-angular/src/app/modules/auth/modules/login/login.module.ts
  frontend-angular/src/app/modules/root/interceptors/auth.interceptor.ts
  frontend-angular/src/app/modules/root/interceptors/exceptions.interceptor.ts
  frontend-angular/src/app/modules/root/root.module.ts
  frontend-angular/src/app/modules/root/services/snack-bar.service.ts
  frontend-angular/src/app/modules/shared/constants/common-constants.ts
  frontend-angular/src/app/modules/shared/storages/local-storage.ts
  frontend-angular/src/assets/i18n/en.json
  frontend-angular/src/assets/i18n/ru.json
Labels: admin panel, javascript

#1969 EPMLABSBRN-1964 added caching reset
  frontend-angular/angular.json
  frontend-angular/custom-webpack-config.ts
  frontend-angular/package-lock.json
  frontend-angular/package.json
  frontend-angular/src/app/modules/root/interceptors/exceptions.interceptor.ts
  frontend-angular/src/app/modules/root/root.module.ts
  frontend-angular/src/assets/i18n/en.json
  frontend-angular/src/assets/i18n/ru.json
  frontend-angular/src/index-transform.ts
  frontend-angular/src/index.html
  frontend-angular/tsconfig.app.json
  frontend-angular/tsconfig.spec.json
Labels: admin panel, javascript

#1978 EPMLABSBR-1974 add getting real data from server for statistics section
  frontend-angular/package-lock.json
  frontend-angular/package.json
  frontend-angular/src/app/app.module.ts
  frontend-angular/src/app/modules/admin/admin-routing.module.ts
  frontend-angular/src/app/modules/admin/admin.module.ts
  frontend-angular/src/app/modules/admin/guards/user-id-param.guard.ts
  frontend-angular/src/app/modules/admin/models/user-exercising-progress-status.ts
  frontend-angular/src/app/modules/admin/models/user-weekly-statistics.ts
  frontend-angular/src/app/modules/admin/models/user-yearly-statistics.ts
  frontend-angular/src/app/modules/admin/modules/exercises/components/exercises/exercises.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/exercises/components/exercises/exercises.component.ts
  frontend-angular/src/app/modules/admin/modules/exercises/components/exercises/select-panel/select-panel.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/exercises/components/exercises/select-panel/select-panel.component.ts
  frontend-angular/src/app/modules/admin/modules/exercises/exercises.module.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/statistics-info-dialog/statistics-info-dialog.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/level-color.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/month-time-track-item-data.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/week-char-data-item.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.module.ts
  frontend-angular/src/app/modules/admin/services/api/admin-api.service.fake.ts
  frontend-angular/src/app/modules/admin/services/api/admin-api.service.ts
  frontend-angular/src/app/modules/admin/services/api/exercises-api.service.ts
  frontend-angular/src/app/modules/auth/models/login.ts
  frontend-angular/src/app/modules/auth/services/api/authentication-api.service.ts
  frontend-angular/src/app/modules/shared/constants/common-constants.ts
  frontend-angular/src/app/modules/shared/helpers/get-random-int-inclusive.ts
  frontend-angular/src/app/modules/shared/helpers/seconds-to.ts
  frontend-angular/src/app/styles/colors.scss
  frontend-angular/src/assets/i18n/en.json
  frontend-angular/src/assets/i18n/ru.json
  frontend-angular/tsconfig.json
Labels: admin panel, javascript

#1986 EPMLABSBRN-854: Сompletely switch migration to flyway.
  README.md
  src/main/resources/application-dev.properties
  src/main/resources/application.properties
  src/main/resources/db/migration/V220210518_854.sql
Labels: backend, documentation, enhancement

#1989 Epmlabsbrn 671 create separate shared chart component
  default.conf
  default_with_tls.conf
  frontend-angular/src/app/modules/admin/admin.component.scss
  frontend-angular/src/app/modules/admin/models/user-exercising-progress-status.ts
  frontend-angular/src/app/modules/admin/models/user-weekly-statistics.ts
  frontend-angular/src/app/modules/admin/models/user-yearly-statistics.ts
  frontend-angular/src/app/modules/admin/modules/exercises/components/exercises/exercises.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track-item/month-time-track-item.component.spec.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/month-time-track/month-time-track.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/month-time-track-item-data.ts
  frontend-angular/src/app/modules/admin/modules/statistics/models/week-char-data-item.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.html
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.component.ts
  frontend-angular/src/app/modules/admin/modules/statistics/statistics.module.ts
  frontend-angular/src/app/modules/admin/services/api/admin-api.service.fake.ts
  frontend-angular/src/app/modules/admin/services/api/admin-api.service.ts
  frontend-angular/src/app/modules/root/interceptors/exceptions.interceptor.ts
  frontend-angular/src/app/modules/shared/components/bar-chart/bar-chart.component.html
  frontend-angular/src/app/modules/shared/components/bar-chart/bar-chart.component.scss
  frontend-angular/src/app/modules/shared/components/bar-chart/bar-chart.component.spec.ts
  frontend-angular/src/app/modules/shared/components/bar-chart/bar-chart.component.ts
  frontend-angular/src/app/modules/shared/components/bar-chart/bar-chart.module.ts
  frontend-angular/src/app/modules/shared/components/bar-chart/models/bar-data.ts
  frontend-angular/src/app/modules/shared/components/bar-chart/models/bar-options.ts
  frontend-angular/src/app/modules/shared/constants/common-constants.ts
  frontend-angular/src/app/modules/shared/helpers/seconds-to.ts
  frontend-angular/src/app/modules/shared/storages/helpers/default-methods.ts
  frontend-angular/src/app/modules/shared/storages/models/default-methods.ts
  frontend-angular/src/assets/i18n/en.json
  frontend-angular/src/assets/i18n/ru.json
Labels: admin panel, javascript

#1994 added 404 component
  default.conf
  default_with_tls.conf
  frontend-angular/src/app/app-routing.module.ts
  frontend-angular/src/app/app.module.ts
  frontend-angular/src/app/modules/admin/admin-routing.module.ts
  frontend-angular/src/app/modules/admin/guards/user-id-param.guard.ts
  frontend-angular/src/app/modules/admin/modules/statistics/components/week-time-track/week-time-track.component.scss
  frontend-angular/src/app/modules/admin/modules/statistics/statistics-routing.module.ts
  frontend-angular/src/app/modules/auth/modules/login/login.component.ts
  frontend-angular/src/app/modules/root/components/not-found/not-found.component.html
  frontend-angular/src/app/modules/root/components/not-found/not-found.component.scss
  frontend-angular/src/app/modules/root/components/not-found/not-found.component.spec.ts
  frontend-angular/src/app/modules/root/components/not-found/not-found.component.ts
  frontend-angular/src/app/modules/root/guards/auth-access.guard.ts
  frontend-angular/src/app/modules/root/guards/guest-access.guard.ts
  frontend-angular/src/app/modules/root/interceptors/exceptions.interceptor.ts
  frontend-angular/src/app/modules/root/root.module.ts
  frontend-angular/src/app/modules/root/services/auth-token.service.ts
  frontend-angular/src/app/modules/root/services/snack-bar.service.ts
  frontend-angular/src/app/modules/root/services/svg-icons-registrar.service.ts
  frontend-angular/src/app/modules/shared/constants/common-constants.ts
  frontend-angular/src/assets/i18n/en.json
  frontend-angular/src/assets/i18n/ru.json
Labels: admin panel, javascript

#1995 Epmlabsbrn 1975 add 404 page (size build)
  frontend-angular/angular.json
Labels: admin panel, javascript

#1996 EPMLABSBRN-867: Fix Frontend test FAILED
  frontend/app/components/series-navigation/template.hbs
  frontend/app/components/ui/avatars/index.hbs
  frontend/package.json
Labels: dependencies, javascript

#1990 EPMLABSBRN-856: Fix IT test valid.
  src/main/kotlin/com/epam/brn/model/ExerciseGroup.kt
  src/main/kotlin/com/epam/brn/repo/ExerciseGroupRepository.kt
  src/main/kotlin/com/epam/brn/service/ExerciseGroupsService.kt
  src/main/kotlin/com/epam/brn/upload/csv/group/GroupRecord.kt
  src/main/kotlin/com/epam/brn/upload/csv/group/GroupRecordProcessor.kt
  src/main/kotlin/com/epam/brn/upload/csv/series/SeriesGenericRecord.kt
  src/main/kotlin/com/epam/brn/upload/csv/series/SeriesGenericRecordProcessor.kt
  src/main/resources/application.properties
  src/main/resources/db/migration/V220210521_856.sql
  src/main/resources/initFiles/groups_.csv
  src/main/resources/initFiles/series_.csv
  src/test/kotlin/com/epam/brn/integration/AdminControllerIT.kt
  src/test/kotlin/com/epam/brn/integration/BaseIT.kt
  src/test/kotlin/com/epam/brn/integration/ExercisesControllerIT.kt
  src/test/kotlin/com/epam/brn/integration/GroupControllerIT.kt
  src/test/kotlin/com/epam/brn/integration/SeriesControllerIT.kt
  src/test/kotlin/com/epam/brn/integration/StudyHistoryIT.kt
  src/test/kotlin/com/epam/brn/integration/TaskControllerIT.kt
  src/test/kotlin/com/epam/brn/repo/BaseTest.kt
  src/test/kotlin/com/epam/brn/service/ExerciseGroupServiceTest.kt
  src/test/kotlin/com/epam/brn/service/ExerciseServiceTest.kt
  src/test/kotlin/com/epam/brn/upload/csv/CsvParserTest.kt
  src/test/kotlin/com/epam/brn/upload/csv/group/GroupRecordProcessorTest.kt
  src/test/kotlin/com/epam/brn/upload/csv/nonspeech/SignalSeriesRecordProcessorTest.kt
  src/test/kotlin/com/epam/brn/upload/csv/series/SeriesGenericRecordProcessorTest.kt
  src/test/kotlin/com/epam/brn/upload/csv/series1/SeriesOneRecordProcessorTest.kt
  src/test/kotlin/com/epam/brn/upload/csv/series2/SeriesTwoRecordProcessorTest.kt
  src/test/resources/application.properties
Labels: backend, java, test coverage improve

#1999 [Admin panel] Deleted e2e env
  frontend-angular/README.md
  frontend-angular/angular.json
  frontend-angular/e2e/protractor.conf.js
  frontend-angular/e2e/src/app.e2e-spec.ts
  frontend-angular/e2e/src/app.po.ts
  frontend-angular/e2e/tsconfig.json
  frontend-angular/src/app/modules/admin/modules/upload-file/upload-file.component.scss
Labels: admin panel, javascript

#2000 [Admin panel] Edit README
  README.md
  frontend-angular/README.md
  frontend-angular/src/app/modules/auth/models/login.ts
  frontend-angular/src/app/modules/root/models/auth-token.ts
  frontend-angular/src/app/modules/shared/helpers/seconds-to.ts
Labels: admin panel, javascript

#2009 EPMLABSBRN-2007: Add env for run test coverage
  .github/workflows/frontend-admin-test.yml
  .github/workflows/frontend-admin.yml
  frontend-angular/karma.conf.js
  frontend-angular/package-lock.json
  frontend-angular/package.json
Labels: admin panel, javascript
